/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.title {
  background-color: #ede982;
}

.newTask.btn {
  width: 200px;
  margin: auto;
  display: block;
  background-color: #293241;
  color: #fff;
  border: none;
}

.newTask.btn:hover {
  background-color: rgb(16, 144, 147);
  color: #fff;
  border: none;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.formEle {
  padding: 50px 5px;
}

.tasks {
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  border-spacing: 20px;
}

.catInput {
  width: 80px;
}

.desInput {
  width: 500px;
}
